.btn {
  height: 40px;
  border: none;
  color: #000;


  &-primary {
    background-color: rgb(78, 172, 136);
    color: #fff;
  }

  &-secondary {
    border: 1px solid gray;
    background-color: #fff;

    &:hover {
      background-color: gray;
    }
  }

  &-ghost {
    background-color: transparent;

    &:hover {
      background-color: rgb(92, 91, 91);
    }
  }
}

.Button-wrapper {
  tr {
    margin: 30px 0;
  }
}
